// --------------------
// Variables
// --------------------

$color-bg-base: #ffffff;
$color-font-base: #000000;
$font-family-base: 'IBM Plex Sans', sans-serif;

// --------------------
// Body
// --------------------

body {
  background: $color-bg-base;
  color: $color-font-base;
  font-family: $font-family-base;
}

// --------------------
// Container
// --------------------

.container {
  max-width: 50rem;
}

// --------------------
// Headings
// --------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  &:before {
    position: absolute;
    margin-left: -1em;
    opacity: 0.25;
  }
}

h1:before {
  content: '#';
}

h2:before {
  content: '##';
}

h3:before {
  content: '###';
}

h4:before {
  content: '####';
}

h5:before {
  content: '#####';
}

h6:before {
  content: '######';
}

// --------------------
// Link
// --------------------

.link {
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}
