$color-bg-base: #ffffff;
$color-font-base: #000000;
$font-family-base: 'IBM Plex Sans', sans-serif;
$font-family-heading: 'Miriam Libre', sans-serif;

body {
  background: $color-bg-base;
  color: $color-font-base;
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

h1,
h2 {
  font-weight: 400;
}

a {
  color: #333;
  &:hover,
  &:focus {
    color: #000;
  }
}

.container {
  max-width: 70rem;
  padding-left: 2em;
  padding-right: 2em;
}

section.header {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.title {
  font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1920 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1920 - 300)));
  max-width: 48rem;
  &:before {
    position: absolute;
    width: 27rem;
    height: 1.5em;
    z-index: -100;
    margin-top: 0.6em;
    margin-left: -0.6em;
    content: '';
    background: #eeeeee;
  }
}

.lead {
  font-size: 1.35em;
}

.inline {
  display: inline;
}

.mt-2 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 4em;
}
