<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />

  <!-- Title -->
  <title>{{ page.title }} - {{ site.title }}</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <div class="container max-w-screen-lg mx-auto px-8 md:px-0 8font-sans tracking-wide">
    {{ content }}
  </div>
</body>

</html>